.cache
*.log
*.tgz
coverage
dist
lib-cov
logs
node_modules
temp
*prettier*

auto-imports.d.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
